.conteiner{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #141414;
    padding: 10px;
    color:white;
    height: 100px;
}

h1{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    color:rgb(213,173,53);
    margin-left: auto;
    margin-right: auto;
}