.conteiner{
    position: relative;
    width: 280px;
    margin:15px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin-left: 30px;
    background-color: blueviolet;
}
h3{
    color:aliceblue
}